# ==================================
# SECRETOS
# ==================================
.env
.flaskenv

# ==================================
# ENTORNO VIRTUAL DE PYTHON
# ==================================
.venv/
venv/
env/
migrations/
tests/
pytest.ini

# ==================================
# ARCHIVOS GENERADOS POR PYTHON Y FLASK
# ==================================
__pycache__/
*.pyc
*.pyo
*.pyd
instance/


# ==================================
# ARCHIVOS GENERADOS POR EL USUARIO
# (Imágenes, documentos, etc.)
# ==================================
static/uploads/



# ==================================
# ARCHIVOS DE PRUEBAS (CACHÉ Y REPORTES)
# ==================================
.pytest_cache/
.coverage
htmlcov/

# ==================================
# ARCHIVOS DE CONFIGURACIÓN DE IDE Y SO
# ==================================
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# ==================================
# BASES DE DATOS LOCALES 
# ==================================
*.db
*.sqlite
*.sqlite3

# ==================================
# LOGS Y ARCHIVOS TEMPORALES
# ==================================
*.log
*.log.*
*.tmp
*.bak
