<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página No Encontrada (404)</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="login-main-container">
        <div class="glass-login-box error-page">
            <h1 class="error-code">404</h1>
            <h2 class="error-title">Página No Encontrada</h2>
            <p class="error-description">
                Lo sentimos, la página que buscas no existe o ha sido movida.
            </p>
            <a href="{{ url_for('main.index') }}" class="glass-button home-btn" style="margin-top: 20px;">Volver al
                Inicio</a>
        </div>
    </div>
</body>

</html>