<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Ya estás conectado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <div class="logo-box-connected">
            <img src="/static/images/logo_Cc.webp" alt="Logo" class="logo-connected">
        </div>

        <div class="user-card">
            <h1>¡Hola, {{ user.username }}!</h1>
            <p>{{ user.role.value }}</p> <!-- Texto modificado -->

            <div class="buttons">
                <div class="button-row">
                    <a href="{{ url_for('main.index') }}" class="btn glass-button btn-index">Inicio</a>
                    <a href="{{ url_for('admin.dashboard') }}" class="btn glass-button btn-dashboard">Dashboard</a>
                </div>
                <a href="{{ url_for('auth.logout') }}" class="btn glass-button btn-logout">Cerrar sesión</a>
            </div>
        </div>
    </div>
</body>

</html>